.loader{
    width: 100px;
    height: 100px;
    border: 4px dashed teal;
    border-radius: 50%;
    animation: rotate 2s infinite linear;
}

@keyframes rotate{
   0%{
        transform: rotate(0deg) scale(0.7);
    }
    20%{
        transform: rotate(45deg) scale(1);
    }
    40%{
        transform: rotate(150deg) scale(1.75);
    }
    50%{
        transform: rotate(180deg) scale(2);
    }
    60%{
        transform: rotate(210deg) scale(1.75);
    }
    80%{
        transform: rotate(315deg) scale(1);
    }
    100%{
        transform: rotate(360deg) scale(0.7);
    }
}